.page {
  min-height: 100vh; 
  display: flex;
}

.img-column {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-column{
    padding: 20px;
}

.img-column img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.login-container{
    width:100%;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;

}

.login-form {
  width: 100%; 
  max-width: 450px; 
  margin: auto;
}

.login-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-form {
  position: relative;
  background-color: white;
  padding-top: 60px; 
  padding: 30px;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  margin: auto;
}

.login-logo {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.login-icon {
  font-size: 60px;
}


